<button id="myButt" (click)="main()" class="btn btn-success"></button>
  
<p>{{stefan.addYearToAge()}}</p>
<hr>
<div>
    <img [src]="imageUrl">
</div>
<hr>
<input [(ngModel)]="spiel">
<p>{{spiel}}</p>
<ul>
    <li *ngFor="let exercise of exercises; let i = index">index: {{i}} und Übungsname: {{exercise.name}}</li>
</ul>
<hr>
<div [ngClass]="{ 'highlight': isHighlighted }">
    <p>Inhalt</p>
</div>
<button (click)="sendToFirebase()" class="btn btn-primary">sendToFirebase</button>
<button (click)="getTheReps()" class="btn btn-primary">buildTheReputationList</button>
<button (click)="deleteWeightExercisesInFirebase()" class="btn btn-secondary">deleteToFirebase</button>
<hr>
<ul>
    <li *ngFor="let rep of reps">Alle Reps unter 25: {{rep}}</li>
</ul>