<div class="row">
    <div class="col-xs-12" *ngIf="exercise">
      <img
        [src]="exercise.url"
        alt="{{ exercise.name }}"
        class="img-responsive"
        style="max-height: 600px;">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ exercise.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Exercise <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onEditExercise()">Edit Exercise</a></li>
          <!-- <li><a style="cursor: pointer;" (click)="onAddExercise()">Add Exercise</a></li> -->
          <li><a style="cursor: pointer;" (click)="onDeleteExercise()">Delete Exercise</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ exercise.description }}
    </div>
  </div>